@import "helpers";
@import "variables";

body {
    font-family: Verdana, sans-serif;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    justify-items: center;
    margin-top: toRem(20px);
}

li {
    cursor: pointer;
}

.btnContainer {
    width: 100%;
    display: grid;
    grid-row: auto;
}

.btnContainer>button {
    padding: toRem(3px) toRem(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    background-color: rgb(27, 50, 72);
    color: white;
    border-radius: toRem(7px);
    width: 100%;
    margin-top: toRem(10px);
}

ul {
    width: 100%;
    min-width: toRem(270px);
    min-height: toRem(500px);
    margin-top: toRem(10px);
}

ul>li {
    font-size: 1.4rem;
    border-radius: toRem(10px);
    padding: toRem(5px);
    margin-top: toRem(5px);
}

li>span {
    display: flex;
    flex-direction: column;
    text-align: center;
}